@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://use.typekit.net/ajc7syq.css');


body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

img {
    width: 50%;
    margin: auto;
    display: block;
}

div {
    width: 100vw;
}


h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins";
}

p, ol, ul, form, input {
    font-family: "source-sans-pro";
}

.header {
    max-width: 500px;
    height: auto;
}

.blog-post {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.resources {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #04080F;
}

nav li {
    /* display: inline; */
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #A1C6EA;
}

.active {
    background-color: #507DBC;
}

.photos {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
}

form {
    width: 500px;
}

/* input[type=text] {
    width: 100%;
}

textarea {
    width: 100%;
} */
